<div class="container">
  <div class="buttons">
    <button mat-button (click)="activeDayIsOpen = false" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
      Anterior
    </button>
    <button mat-button (click)="activeDayIsOpen = false" mwlCalendarToday [(viewDate)]="viewDate">
      Actual
    </button>
    <button mat-button (click)="activeDayIsOpen = false" color="primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
      Siguiente
    </button>
  </div>
    <h1>{{viewDate | calendarDate:(view + 'ViewTitle'): 'es'}}</h1>
</div>

<mwl-calendar-month-view [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" [viewDate]="viewDate" [events]="events">
</mwl-calendar-month-view>
