
<mat-card class="login-card">
  <mat-card-title>Iniciar sesión</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="login()">
      <p>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" type="email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" minlength="6" type="password">
          <mat-hint>Min. 6 carácteres</mat-hint>
        </mat-form-field>
      </p>
      <p *ngIf="error" class="mat-error">
        {{error}}
      </p>
      <div class="button">
        <a routerLink="/recover">Has olvidado tu contraseña?</a>
        <button  mat-button type="submit">Iniciar sesión</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

