table {
  width: 100%;
}

.inputs {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.create-button {
  height: 50%;
  margin-top: 1.5rem;
}

.mat-column-name {
  padding-left: 16px;
  font-size: 15px;
}

.mat-column-surname, .mat-column-available, .mat-column-spec {
  font-size: 15px;
}

.mat-column-contact {
  width: 30px;
  text-align: center;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}
