.button {
  align-self: end;
  padding-right: 10rem;
  padding-top: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

.workers-button {
  background-color: #cbced1;
}

.sidenav-container {
  flex: 1;
}

.sidenav-content {
  display: flex;
  flex-direction: column;

}

.spacer {
  padding: 200px;
}

p {
  margin-left: 20%;
  align-self: start;
}

mat-form-field {
  justify-content: space-between;
}

.description {
  width: 55%;
}

.sidenav {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.mat-error {
  align-self: center;
}
