<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- used for mat-icon -->
<div class="container">
  <mat-sidenav-container class="sidenav-container" autosize >
    <mat-sidenav #sidenav mode="over" position="end" (closed)="sidenavDirty = true">
      <mat-form-field appearance="standard" class="sidenav">
        <mat-label>Filtrar por especialidad</mat-label>
        <input matInput (keyup)="applyFilter($event)">
      </mat-form-field>
      <mat-selection-list [(ngModel)]="assignedWorkers" class="sidenav"> <!-- Data binding is used since the drawer is outside the form -->
        <mat-list-option *ngFor="let worker of filteredWorkers" [value]="worker.id">
          <p>
            {{worker.name}} {{worker.surname}}
            <br>
            <span *ngIf="selectedSpec == 'Análisis'">   {{worker.platforms}}</span>
          </p>
        </mat-list-option>
      </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content" [formGroup]="form">

      <div *ngIf="userService.userPermits.includes('MODIFY') else noPermits" class="button">
        <button mat-raised-button type="button" (click)="updateTask()">Terminar</button>
        <button mat-raised-button  type="button" color="warn" (click)="openDialog()">Eliminar</button>
      </div>
      <ng-template #noPermits>
        <div class="button">
          <button mat-raised-button type="button" routerLink="/tasks">Terminar</button>
        </div>
      </ng-template>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Nombre de tarea</mat-label>
          <input matInput [readonly]="!userService.userPermits.includes('MODIFY')" formControlName="name" required>
          <mat-error *ngIf="form.controls['name'].errors">Introduce un nombre de tarea</mat-error>
        </mat-form-field>

        <span class="spacer"></span>
        <mat-form-field>
          <mat-label>Empleados asignados</mat-label>
          <input readonly [value]="assignedWorkers" matInput>
          <button *ngIf="userService.userPermits.includes('MODIFY')" mat-icon-button matSuffix (click)="sidenav.toggle()"><mat-icon>+</mat-icon></button>
          <mat-error *ngIf="sidenavDirty && assignedWorkers.length <= 0">Selecciona trabajadores para la tarea</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Tipo de tarea</mat-label>
          <mat-select [disabled]="!userService.userPermits.includes('MODIFY')" formControlName="type"> <!-- throws a warning angular but the alternative doesn't work properly -->
            <mat-option *ngFor="let spec of specs" [value]="spec.id" (onSelectionChange)="onTypeChange($event)">
              {{spec.id}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['type'].errors">Elige un tipo de tarea</mat-error>
        </mat-form-field>

        <span class="spacer"></span>

        <mat-form-field appearance="fill">
          <mat-label>Elige una fecha</mat-label>
          <input matInput [readonly]="true" formControlName="date" [matDatepicker]="picker" required>
          <mat-datepicker-toggle *ngIf="userService.userPermits.includes('MODIFY')" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.controls['date'].errors">Elige una fecha</mat-error>
        </mat-form-field>
      </p>

      <p class="description">
        <mat-form-field style="width: 100%" appearance="outline" >
          <mat-label>Descripción</mat-label>
          <textarea matInput [readonly]="!userService.userPermits.includes('MODIFY')" formControlName="description"></textarea>
        </mat-form-field>
      </p>


      <div formArrayName="extraFields">
        <p class="extraField" *ngFor="let i = index; let field of extraFields.controls" formGroupName="{{i}}">
          <mat-form-field appearance="standard">
            <mat-label>Nombre del campo</mat-label>
            <input matInput [readonly]="!userService.userPermits.includes('MODIFY')" formControlName="fieldName" id="{{'fieldName'+i}}">
            <mat-error *ngIf="form.controls['extraFields'].errors"></mat-error>
          </mat-form-field>:
          <mat-form-field appearance="standard">
            <mat-label>Valor del campo</mat-label>
            <input matInput [readonly]="!userService.userPermits.includes('MODIFY')" formControlName="fieldValue" id="{{'fieldValue'+i}}">
          </mat-form-field>
          <button *ngIf="userService.userPermits.includes('MODIFY')" (click)="removeField(i)" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
        </p>
      </div>


      <p *ngIf="error" class="mat-error">
        {{error}}
      </p>
      <button mat-raised-button *ngIf="userService.userPermits.includes('MODIFY')" (click)="addField()" style="max-width: 20%; align-self: center" type="button">Añadir campo</button>

    </mat-sidenav-content>

  </mat-sidenav-container>


</div>
