<!-- Filter search field -->
<div class="inputs">
  <mat-form-field appearance="standard">
    <mat-label>Filtrar tareas por nombre</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>
  <div>
    <button routerLink="/createTask" *ngIf="userService.userPermits.includes('WRITE')" mat-raised-button class="create-button">Crear nueva tarea</button>
    <button mat-raised-button *ngIf="userService.userPermits.includes('WRITE')" (click)="exportData()" class="create-button">Descargar datos</button>
  </div>
</div>

<!-- Mat table that includes sorting and filtering -->
<table mat-table [dataSource]="taskList" matSort matSortDirection="asc" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let task">{{task.name}}</td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Fecha de entrega</th>
    <td mat-cell *matCellDef="let task">
        {{task.date | date: "dd-MM-yyyy"}}  <!-- Unknown pipe error, it works properly -->
    </td>
  </ng-container>
  <ng-container matColumnDef="assignee">
    <th mat-header-cell *matHeaderCellDef>Asignación</th>
    <td mat-cell *matCellDef="let task">
      <p *ngFor="let worker of task.assignedWorkers">
        {{worker.name}} {{worker.surname}}
      </p>
    </td>
  </ng-container>
  <ng-container matColumnDef="verify">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let j = index">
      <button (click)="markAsVerified(j)" *ngIf="userService.userPermits.includes('VERIFY')" mat-button>
        <b>Verificar tarea</b>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let j = index;">
      <button mat-button (click)="navigateToDetail(j)">
        <div *ngIf="userService.userPermits.includes('MODIFY') else noPermits">
          <b>Editar</b>
        </div>
        <ng-template #noPermits><b>Ver detalles</b></ng-template>
      </button>
    </td>
  </ng-container>
  <ng-container  matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let j = index;">
      <button *ngIf="userService.userPermits.includes('DELETE')" mat-raised-button color="warn" (click)="openDialog(j)">
        Eliminar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- In case no data matches the filter, this row is shown instead -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No se han encontrado tareas para ese filtro</td>
  </tr>
</table>
