table {
  width: 100%;
}

.inputs {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.create-button {
  height: 50%;
  margin-top: 1.5rem;
}

.mat-column-name {
  padding-left: 16px;
  font-size: 15px;
}

.mat-column-date {
  font-size: 15px;
}

.mat-column-assignee {
  font-size: 15px;
}

.mat-column-delete {
  width: 30px;
  text-align: center;
}
