table {
  width: 100%;
}

h1 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-column-today {
  padding-left: 16px;
  font-size: 15px;
  width: 350px;
}

.mat-column-tomorrow {
  width: 350px;
  font-size: 15px;
}

.mat-column-afterTomorrow {
  width: 350px;
  font-size: 15px;
}


