table {
  width: 100%;
}

h1 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-column-firstColumn {
  padding-left: 16px;
  font-size: 15px;
  width: 350px;
}

.mat-column-secondColumn {
  width: 350px;
  font-size: 15px;
}

.mat-column-thirdColumn {
  width: 350px;
  font-size: 15px;
}


