<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar">
    <div *ngIf="!userService.userId else noid">Gestor de tareas</div>
    <ng-template #noid>
      <a routerLink="/frontPage"><h1>Gestor de tareas</h1></a>
    </ng-template>
    <div *ngIf="userService.userId">
      <a routerLink="/tasks">Lista de tareas</a>
      <a routerLink="/calendar">Calendario</a>
      <span *ngIf="userService.userPermits && userService.userPermits.includes('CONTACT')"> <a routerLink="/users">Lista de personal</a> </span>

    </div>
    <div class="spacer"></div>
    <div *ngIf="userService.userId">
      <a routerLink="" (click)="signOut()">Cerrar sesión</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
