.navbar {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
}

a:hover, a:active {
  color: lightgrey;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}


