<mat-card>
  <mat-card-title>Recuperar contraseña</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="sendRecoverEmail()">
      <p>Introduzca su correo para restablecer la contraseña</p>
      <p>
        <mat-form-field>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
      </p>
      <p *ngIf="error" class="mat-error">
        {{error}}
      </p>
      <button mat-button type="submit">Recuperar contraseña</button>
    </form>
  </mat-card-content>
</mat-card>
